$white:#fff;
$off-white:#f8f8f8;
$lighter-grey:#f8f8f8;
$light-grey:#e2e2e2;
$grey:#878787;
$darker-grey:#606060;
$green:#97bf2a;
$green-dark:#7d9d23;
$light-teal:#85c9d2;
$teal:#5eb2c2; // or #5babba?
$dark-teal:#2ba1b0; // Or #519fad??
$pink:#d53b81;
$dark-pink:#d53b81;
$off-black:#474747;
$black:#111;

$background:$off-white;
$primary-text:#474747;
$primary-button-main:$green;
$primary-button-shadow:$green-dark;
$upmysport-blue:$teal;
$upmysport-grey:$darker-grey;
$link:$teal;
$form-border:#bcbcbc;
$form-border-selected:$teal;