<div class="bookings-list-container" style="position:relative;overflow:hidden;height:100%">
	<div class="ptr-scrollable">
		<div class="ptr-wrap">
			<div class="view-header bookings-view-header">
				<span class="header-text">
					<span>Bookings</span>
				</span>
				<a href="#" class="settings-button"><i class="ss-settings"></i></a>
				<div id="bookings-view-options" class="context-block slide-down">
					<div class="inline-radio">  
						<input id="radio-upcoming" type="radio" name="radio-bookings-filter" value="upcoming">  
						<label class="inline-radio-label" for="radio-upcoming">Upcoming</label>
						<input id="radio-past" type="radio" name="radio-bookings-filter" value="past">  
						<label class="inline-radio-label" for="radio-past">Past</label>  
					</div>  
				</div>
			</div>
			<ul class="topcoat-list list bookings-list">
			</ul>
		</div>
	</div>
</div>