<div class="context-block">
	<div>
		<textarea class="comment-text" placeholder="Want to ask or confirm something?"></textarea>
		<button class="btn-primary btn-add-comment">Add Comment</button>
	</div>
</div>