<div class="date-picker-container" id="date-picker-container"></div>
<p style="text-align:center">&hellip;and a time</p>
<div class="context-block time-picker-container" id="time-picker-container">
	{{#timeSelect}}{{/timeSelect}}
</div>
<div class="modal-button">
	<button class="btn-primary btn-pick-datetime">Suggest date &amp; time</button>
</div>