<div class="login">
	<img src="img/logo.png" />
	<span class="logo-subheader">For instructors</span>
	<form class="login-form">
		<div class="input-icon-wrapper">
			<input class="email" type="text" placeholder="Email" />
			<i class="ss-mail email-icon-right"></i>
			<input class="password" type="password" placeholder="Password" />
			<i class="ss-lock password-icon-right"></i>
		</div>
		<input class="btn-primary btn-login" type="submit" value="Log In" />
	</form>
	<ul class="login-footer inline-menu-list">
		<li><a onclick="window.open('https://www.upmysport.com/password_resets/new', '_system');" href="#">Forgot password</a></li>
		<li><a onclick="window.open('https://www.upmysport.com/signup', '_system');" href="#">No account?</a></li>
	</ul>
</div>
