<div id="modal-view-container" class="view-container">
    <div id="modal-navigation-bar" class="topcoat-navigation-bar clear-nav-bar">
        <div class="topcoat-navigation-bar__item left quarter"></div>
        <div class="topcoat-navigation-bar__item nav-bar-title center half">{{title}}</div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet close-button" href="#">
              <span class="topcoat-icon topcoat-icon--close"><i class="ss-delete"></i></span>
            </a>
        </div>
    </div>
    <div id="modal-page-container" class="page-container"></div>
</div>