<div class="context-block">
	<div>
		<span class="currency">
			<span class="symbol">{{currencySymbol}}</span>
			<input type="text" class="value suggested-price" value="{{suggestedPriceText}}">
		</span>
		<button class="btn-primary btn-suggest-price">Suggest price</button>
	</div>
</div>